<h1>Kombats#index</h1>
<p>Find me in app/views/kombats/index.html.erb</p>
nothing but a good time

<p>
  <%= @content %>  
</p>

<%= form_with url: kombat_path, method: :post do %>
  <%= select_tag :hero_1,
                 options_for_select(@hero_selection) %>

  <%= select_tag :hero_2,
                 options_for_select(@hero_selection) %>

  <%= submit_tag :submit %>
<% end %>

<p id="result"></p>
